/* Daca vrem ca aplicatia sa ocupe intreg viewport-ul. */
.app {
	min-height: 100vh;
}

.container {
	width: 75vw;
	min-width: 700px;
	margin: 0 auto;
}

button,
input[type=submit] {
	display: inline-block;
	line-height: 26px;
	border: 0 none;
	background-color: #0f243d;
	color: #fff;
	font-weight: 500;
	font-style: normal;
	font-size: 14px;
	cursor: pointer;
}
